.about{
    background-image: url("../../pictures/about1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
    min-height: 55vh;
    .about-content{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 15vh;
        h2{
            font-size: 32px;
            color: #052d6af5;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
            color: #333;
            line-height: 1.6;
            font-weight: 400;
        }
    }
    }