.testimonials {
    padding: 80px 0;
    text-align: center;
  }
  
  .testimonials h2 {
    font-size: 32px;
    color: #052d6af5;
    margin-bottom: 30px;
  }
  
  .testimonials .testimonials-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .testimonials .testimonials-cards .testimonial-card {
    background-color: rgb(107, 120, 178);
    box-shadow: 0px 2px 4px black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .testimonials .testimonials-cards .testimonial-card {
      width: 80%;
      text-align: center;
    }
  }
  
  .testimonials .testimonials-cards .testimonial-card .student-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .testimonials .testimonials-cards .testimonial-card .student-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .testimonials .testimonials-cards .testimonial-card .message {
    font-size: 16px;
    color: #efeff5;
    margin-bottom: 10px;
  }
  
  .testimonials .testimonials-cards .testimonial-card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonials .testimonials-cards .testimonial-card .name {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
  }
  
  .testimonials .testimonials-cards .testimonial-card .position {
    font-size: 16px;
    
    color: #0c0000;
  }